# Output

In [29]:
# this is a comment
print('hello python')

hello python

In [30]:
print("Ahmed") # this is comment

Ahmed

In [31]:
print('hello, world2') # this is a comment

hello, world2

In [32]:
"""
this is long 
comment
hello world
"""

print('hello, world3')

hello, world3

In [33]:
'''
This is a multiline comment
hello world 
i love python
'''
print('hello, world3')

hello, world3

In [34]:
print(5)

5

In [35]:
print(['ahmed', 'mohammed'])

['ahmed', 'mohammed']

In [36]:
print("hi")

hi

In [37]:
print("hello")

hello

In [38]:
print(5.75)

5.75

In [39]:
print(True)

True

# Input

In [40]:
name = input('Enter your name: ')

Enter your name:

In [41]:
print('Hello, ' + name)

Hello,

In [42]:
name2 = "ALI ALI"

In [43]:
print(name2)

ALI ALI

In [45]:
print('name3')

name3

In [49]:
name4 = "Ahmed"

In [50]:
print(name4)

ALI

# Great Work!