# Lists

Earlier when discussing strings we introduced the concept of a *sequence* in Python. Lists can be thought of the most general version of a *sequence* in Python. Unlike strings, they are mutable, meaning the elements inside a list can be changed!

In this section we will learn about:
    
1. Creating lists
2. Indexing Lists
3. Slicing Lists
4. List Properties
5. List Methods
6. Nesting Lists
7. Introduction to List Comprehensions

Lists are constructed with brackets [] and commas separating every element in the list.

Let's go ahead and see how we can construct lists!

## 1) Creating Lists

In [42]:
# Assign a list to an variable named my_list
my_list = [1, 2, 3]
my_list

[1, 2, 3]

In [2]:
type(my_list)

list

We just created a list of integers, but lists can actually hold different object types. For example:

In [61]:
my_list = ['A string', 23, 100.232, 'o', True, ['ahmed', 'mohammed', 'eman']]
my_list

['A string', 23, 100.232, 'o', True, ['ahmed', 'mohammed', 'eman']]

In [54]:
my_list[5][1][-1]

'd'

## 2) Indexing Lists

In [49]:
my_list[3]

'o'

In [45]:
my_list[5][2]

'eman'

In [50]:
my_list[0]

'A string'

In [51]:
my_list[0][3]

't'

In [7]:
my_list[5]

['ahmed', 'mohammed', 'eman']

In [52]:
my_list[5][2]

'eman'

'eman'

In [66]:
my_list = ['A string', 23, 100.232, 'o', True, ['ahmed', 'mohammed', 'eman']]
my_list[5][1] = 'hello'
my_list

['A string', 23, 100.232, 'o', True, ['ahmed', 'hello', 'eman']]

**you can update the list using indexing**

In [67]:
my_list[5] = 'hello'
my_list

['A string', 23, 100.232, 'o', True, 'hello']

In [68]:
my_list[1] = my_list[1] + 5
# my_list[1] += 5
my_list

['A string', 28, 100.232, 'o', True, 'hello']

In [71]:
name = 'mohammed'
name[0:]

'mohammed'

## 3) Slicing Lists

In [73]:
my_list = ['ahmed', 'eslam', 'eman', 400, 500, True]
my_list

['ahmed', 'eslam', 'eman', 400, 500, True]

8
4

In [14]:
# Grab element at index 0
my_list[0]

'ahmed'

In [74]:
# Grab index 1 and everything past it
my_list[1:-1]

['eslam', 'eman', 400, 500]

In [76]:
# Grab everything UP TO index 3
my_list[:3]

['ahmed', 'eslam', 'eman']

In [77]:
my_list[::2]

['ahmed', 'eman', 500]

In [80]:
my_list[::-1]

[True, 500, 400, 'eman', 'eslam', 'ahmed']

In [81]:
my_list

['ahmed', 'eslam', 'eman', 400, 500, True]

In [82]:
# my_list[to:from:-1]
my_list[4:1:-1]

[500, 400, 'eman']

## 4) List Properties

**Concatenating**

In [84]:
my_list

['ahmed', 'eslam', 'eman', 400, 500, True]

In [85]:
data1 = my_list + ['new item 1', 'new item 2']
data1

['ahmed', 'eslam', 'eman', 400, 500, True, 'new item 1', 'new item 2']

Note: This doesn't actually change the original list!

In [90]:
my_list = ['ahmed', 'eslam', 'eman', 400, 500, True]

You would have to reassign the list to make the change permanent.

In [91]:
# Reassign
my_list = my_list + ['add new item permanently']

In [92]:
my_list

['ahmed', 'eslam', 'eman', 400, 500, True, 'add new item permanently']

**Repeating**

In [93]:
a = 'abc '
a * 5

'abc abc abc abc abc '

In [94]:
# Make the list double
my_list * 2

['ahmed',
 'eslam',
 'eman',
 400,
 500,
 True,
 'add new item permanently',
 'ahmed',
 'eslam',
 'eman',
 400,
 500,
 True,
 'add new item permanently']

In [95]:
# Again doubling not permanent
my_list

['ahmed', 'eslam', 'eman', 400, 500, True, 'add new item permanently']

In [96]:
my_list = my_list * 2
my_list

['ahmed',
 'eslam',
 'eman',
 400,
 500,
 True,
 'add new item permanently',
 'ahmed',
 'eslam',
 'eman',
 400,
 500,
 True,
 'add new item permanently']

## 5) List Methods

If you are familiar with another programming language, you might start to draw parallels between arrays in another language and lists in Python. Lists in Python however, tend to be more flexible than arrays in other languages for a two good reasons: they have no fixed size (meaning we don't have to specify how big a list will be), and they have no fixed type constraint (like we've seen above).

you can check a lot of list methods from here: https://www.w3schools.com/python/python_ref_list.asp

Let's go ahead and explore some more special methods for lists:

**list**

In [97]:
x = list()
x

[]

In [98]:
# another way to create empty list
x = []
x

[]

**len**

In [100]:
list1 = [1, 2, 3]
len(list1)
list1

[1, 2, 3]

**append**

In [101]:
list1.append('append me!')
list1

[1, 2, 3, 'append me!']

In [102]:
list1.append(10.27)
list1

[1, 2, 3, 'append me!', 10.27]

**insert**

In [106]:
new_list = ['a','e','x','b','c']
new_list

['a', 'e', 'x', 'b', 'c']

In [107]:
new_list.insert(2,'inserted')
new_list

['a', 'e', 'inserted', 'x', 'b', 'c']

**remove**

In [109]:
new_list

['a', 'e', 'inserted', 'x', 'b', 'c']

In [110]:
new_list.remove('inserted')
new_list

['a', 'e', 'x', 'b', 'c']

In [124]:
list2 = [1,2,3,4,3]
list2

[1, 2, 3, 4, 3]

In [125]:
list2.remove(3)
# list2.remove(3)
list2

[1, 2, 4, 3]

another way to remove using **del** keyword

In [126]:
new_list

['a', 'x', 'b', 'c']

In [127]:
del new_list[1]
new_list

['a', 'b', 'c']

In [128]:
new_list = ['a', 'e', 'inserted', 'x', 'b', 'c']
# new_list.remove('e')
del new_list[1]
new_list

['a', 'inserted', 'x', 'b', 'c']

In [44]:
new_list

['a', 'inserted', 'x', 'b', 'c']

In [129]:
del new_list[2:]
new_list

['a', 'inserted']

**pop**

In [144]:
new_list = ['a', 'e', 'inserted', 'x', 'b', 'c']
new_list

['a', 'e', 'inserted', 'x', 'b', 'c']

In [145]:
removed_value = new_list.pop(2)
removed_value

'inserted'

In [146]:
new_list

['a', 'e', 'x', 'b', 'c']

In [147]:
new_list.insert(2,removed_value)
new_list

['a', 'e', 'inserted', 'x', 'b', 'c']

**reverse**

In [148]:
new_list = ['a','e','x','b','c']
new_list

['a', 'e', 'x', 'b', 'c']

In [140]:
new_list.reverse()
new_list

['c', 'b', 'x', 'e', 'a']

**sort**

In [149]:
new_list = ['a','e','x','b','c']
new_list

['a', 'e', 'x', 'b', 'c']

In [151]:
new_list.sort()
new_list[::-1]

['x', 'e', 'c', 'b', 'a']

In [152]:
new_list = [20, 120, 5, 90, 1000]
new_list

[20, 120, 5, 90, 1000]

In [154]:
new_list.sort()
new_list

[1000, 120, 90, 20, 5]

to sort descending

In [171]:
new_list = [20, 120, 5, 90, 1000]
new_list.sort()
new_list

[5, 20, 90, 120, 1000]

**sorted**

In [172]:
my_list = [20, 120, 5, 90, 1000]
sorted_list = sorted(my_list)
my_list

[20, 120, 5, 90, 1000]

In [170]:
sorted_list

[5, 20, 90, 120, 1000]

In [187]:
my_list = [20, 120, 5, 90,200, 1000]
sorted(my_list, reverse=True)

[1000, 200, 120, 90, 20, 5]

In [188]:
my_list

[20, 120, 5, 90, 200, 1000]

**min**

In [189]:
min(my_list)

5

**max**

In [190]:
max(my_list)

1000

**sum**

In [194]:
sum(my_list)
my_list = [20, 120, 5, 90,200, 1000]
print(len(my_list))
print(sum(my_list))

6
1435

you can get average by

In [196]:
sum(my_list) // len(my_list)

239

## 6) Nesting Lists
A great feature of of Python data structures is that they support *nesting*. This means we can have data structures within data structures. For example: A list inside a list.

Let's see how this works!

In [198]:
# Make a list of lists to form a matrix
matrix = [[1,2,3], [4,5,6], [7,8,9]]
len(matrix)

3

We can again use indexing to grab elements, but now there are two levels for the index. The items in the matrix object, and then the items inside that list!

In [199]:
# Grab first item in matrix object
matrix[2]

[7, 8, 9]

In [200]:
# Grab first item of the first item in the matrix object
matrix[2][1]

8

ok, lets have a deep one

In [202]:
matrix = [[1,[4,5,[7,8,9]],3], [4,5,6], [7,8,9]]

In [203]:
len(matrix)

3

In [205]:
matrix[0]

[1, [4, 5, [7, 8, 9]], 3]

In [70]:
len(matrix[0])

3

In [71]:
matrix[0][1]

[4, 5, [7, 8, 9]]

In [72]:
len(matrix[0][1])

3

In [73]:
matrix[0][1][2]

[7, 8, 9]

In [209]:
matrix[0][1][2][1]
li = [1,2,3,4,5,5,5]
li.count(5)

3

## 7) List Comprehensions
Python has an advanced feature called list comprehensions. They allow for quick construction of lists. To fully understand list comprehensions we need to understand for loops. So don't worry if you don't completely understand this section, and feel free to just skip it since we will return to this topic later.

But in case you want to know now, here are a few examples!

In [208]:
li = []
for i in range(10):
    li.append(i)
print(li)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Great Work!