# Dictionaries

We've been learning about *sequences* in Python but now we're going to switch gears and learn about *mappings* in Python. If you're familiar with other languages you can think of these Dictionaries as hash tables. 

This section will serve as a brief introduction to dictionaries and consist of:

1. Constructing a Dictionary
2. Accessing, Inserting, Updating and Deleting objects in a dictionary
3. Nesting Dictionaries
4. Dictionary Methods

So what are mappings? Mappings are a collection of objects that are stored by a *key*, unlike a sequence that stored objects by their relative position. This is an important distinction, since mappings won't retain order since they have objects defined by a key.

A Python dictionary consists of a key and then an associated value. That value can be almost any Python object.


## 1) Constructing a Dictionary
Let's see how we can construct dictionaries to get a better understanding of how they work!

In [57]:
# Make a dictionary with {} and : to signify a key and a value
my_dict = {'key1':'value1', 'key2':'value2'}
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [58]:
store = {"oranges": 10, "apples": 20, "grapes": 30}
store

{'oranges': 10, 'apples': 20, 'grapes': 30}

In [59]:
type(store)

dict

Its important to note that dictionaries are very flexible in the data types they can hold. For example:

In [72]:
my_dict2 = {'key1': 123, 'key2': [12, 23, 33], 'key3': ['item0','item1','item2'], 'key4': {'a': 30, 'b':40}}

## 2) Accessing, Inserting, Updating and Deleting objects in a dictionary

### Access

In [68]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [69]:
# Let's call items from the dictionary
my_dict['key1']

'value1'

In [70]:
store

{'oranges': 10, 'apples': 20, 'grapes': 30}

In [71]:
store['grapes']

30

In [74]:
my_dict2

{'key1': 123,
 'key2': [12, 23, 33],
 'key3': ['item0', 'item1', 'item2'],
 'key4': {'a': 30, 'b': 40}}

In [75]:
my_dict2['key1']

123

In [76]:
my_dict2['key1'] + 7

130

In [77]:
my_dict2['key2']

[12, 23, 33]

In [78]:
my_dict2['key2'][2]

33

In [80]:
my_dict2['key3']

['item0', 'item1', 'item2']

In [82]:
my_dict2['key3'][1]

'item1'

In [17]:
my_dict2['key3'][1][3]

'm'

In [84]:
type(my_dict2['key3'][1])

str

In [85]:
my_dict2['key3'][1].upper()

'ITEM1'

In [86]:
my_dict2

{'key1': 123,
 'key2': [12, 23, 33],
 'key3': ['item0', 'item1', 'item2'],
 'key4': {'a': 30, 'b': 40}}

In [87]:
my_dict2['key4']

{'a': 30, 'b': 40}

In [88]:
my_dict2['key4']['b']

40

In [90]:
store

{'oranges': 10, 'apples': 20, 'grapes': 30}

In [91]:
print(f"The store has {store['oranges']} oranges and {store['apples']} appels and {store['grapes']} grapes")

The store has 10 oranges and 20 appels and 30 grapes

### Insert

In [92]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [93]:
my_dict['new_key'] = 'ahmed'
my_dict

{'key1': 'value1', 'key2': 'value2', 'new_key': 'ahmed'}

or create a new dictionary from scratch then add values to it

In [108]:
# Create a new dictionary
d = {}
d['name'] = 'Ali'

In [109]:
# Create a new key through assignment
d['animal'] = 'Dog'

In [110]:
# Can do this with any object
d['answer'] = 42

In [112]:
#Show
d

{'name': 'Ali', 'animal': 'Dog', 'answer': 42}

In [113]:
d['name'] = 'ahmed'
d

{'name': 'ahmed', 'animal': 'Dog', 'answer': 42}

### Update

In [114]:
my_dict = {'key1': 123, 'key2': [12, 23, 33], 'key3': ['item0','item1','item2']}
my_dict

{'key1': 123, 'key2': [12, 23, 33], 'key3': ['item0', 'item1', 'item2']}

In [115]:
# Set the object equal to itself minus 100 
my_dict['key2'] = 1000
my_dict

{'key1': 123, 'key2': 1000, 'key3': ['item0', 'item1', 'item2']}

In [117]:
my_dict['key1'] = my_dict['key1'] - 10
# or
# my_dict['key1'] -= 10
my_dict

{'key1': 103, 'key2': 1000, 'key3': ['item0', 'item1', 'item2']}

### Delete

In [118]:
my_dict = {'key1': 123, 'key2': [12, 23, 33], 'key3': ['item0','item1','item2']}
my_dict

{'key1': 123, 'key2': [12, 23, 33], 'key3': ['item0', 'item1', 'item2']}

In [119]:
# Set the object equal to itself minus 100 
del my_dict['key1']
my_dict

{'key2': [12, 23, 33], 'key3': ['item0', 'item1', 'item2']}

In [120]:
del my_dict['key3'][2]
my_dict

{'key2': [12, 23, 33], 'key3': ['item0', 'item1']}

In [121]:
del my_dict['key3']
my_dict

{'key2': [12, 23, 33]}

In [122]:
del my_dict['key2'][1]
my_dict

{'key2': [12, 33]}

## 3) Nesting with Dictionaries

Hopefully you're starting to see how powerful Python is with its flexibility of nesting objects and calling methods on them. Let's see a dictionary nested inside a dictionary:

In [124]:
# Dictionary nested inside a dictionary nested inside a dictionary
d = {'key1':{'nestkey':{'subnestkey':'value'}}}

In [125]:
d['key1']

'value'

In [126]:
d['key1']['nestkey']

{'subnestkey': 'value'}

Wow! That's a quite the inception of dictionaries! Let's see how we can grab that value:

In [127]:
# Keep calling the keys
d['key1']['nestkey']['subnestkey']

'value'

## 4) Dictionary Methods

There are a few methods we can call on a dictionary, check also other dictionary methods
https://www.w3schools.com/python/python_ref_dictionary.asp <br>
Let's get a quick introduction to a few of them:

**get**

In [128]:
# Create a typical dictionary
d = {'key1': 1, 'key2': 2, 'key3': 3}
d

{'key1': 1, 'key2': 2, 'key3': 3}

In [129]:
d['key3']

3

In [130]:
d['key10']

KeyError: 'key10'

In [46]:
# get value by a key, if not found return default
d.get('key3')

3

In [132]:
d.get('key10')

In [134]:
d.get('key10', 'not_found')

'not_found'

In [135]:
d.get('key3', 'not_found')

3

**keys**

In [136]:
user = {'name': 'ahmed', 'age': 27, 'gender': 'male', 'has_dog': True, 'dogs_names': ['sam', 'frank']}
user

{'name': 'ahmed',
 'age': 27,
 'gender': 'male',
 'has_dog': True,
 'dogs_names': ['sam', 'frank']}

In [139]:
# Method to return a list of all keys 
list(user.keys())

['name', 'age', 'gender', 'has_dog', 'dogs_names']

**values**

In [141]:
# Method to grab all values
list(user.values())

['ahmed', 27, 'male', True, ['sam', 'frank']]

**items**

In [52]:
# Method to return tuples of all items  (we'll learn about tuples soon)
list(user.items())

[('name', 'ahmed'),
 ('age', 27),
 ('gender', 'male'),
 ('has_dog', True),
 ('dogs_names', ['sam', 'frank'])]

In [142]:
user_list = list(user.items())
user_list

[('name', 'ahmed'),
 ('age', 27),
 ('gender', 'male'),
 ('has_dog', True),
 ('dogs_names', ['sam', 'frank'])]

In [143]:
user_list[4]

('dogs_names', ['sam', 'frank'])

In [144]:
user_list[4][1]

['sam', 'frank']

In [145]:
user_list[4][1][0]

'sam'

In [146]:
user_list[4][1][0][2]

'm'

In [151]:

for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

# Great Work!